In [1]:
import ccxt
import pandas as pd
import pprint
import datetime
print ('ccxt version', ccxt.__version__)

# From timestamp to Datetime
def convert_from_ms(value):
    return datetime.datetime.fromtimestamp(value)

ccxt version 2.4.18

In [3]:
exchange = ccxt.coinbase()
markets= exchange.load_markets()
print(f"numero mercati: {len(markets)}")

numero mercati: 2131

In [4]:
symbol='BTC/USDT'

ohlcv=exchange.fetch_ohlcv(symbol,'1m', limit=1000)
if len(ohlcv):
    df = pd.DataFrame(ohlcv, columns=['timestamp','open','high','low','close','volume'])
    #df['datetime']=pd.to_datetime(df['timestamp'],unit='ms')
    df['date_parsed']=(df['timestamp']/1000).apply(convert_from_ms)
    #df['date']=instrument['date_parsed']
    df.index = df['date_parsed']
    df.drop('date_parsed', axis=1, inplace=True)
    
display(df)

,timestamp,open,high,low,close,volume
date_parsed,,,,,,
2022-12-15 22:40:00,1671140400000,17399.98,17408.12,17395.07,17407.20,172.07853
2022-12-15 22:41:00,1671140460000,17407.20,17408.13,17403.14,17403.54,59.20292
2022-12-15 22:42:00,1671140520000,17403.14,17405.53,17402.70,17405.25,40.22916
2022-12-15 22:43:00,1671140580000,17405.25,17405.25,17392.64,17395.71,234.04937
2022-12-15 22:44:00,1671140640000,17395.71,17398.62,17355.83,17372.93,741.13985
...,...,...,...,...,...,...
2022-12-16 15:15:00,1671200100000,16959.52,16960.95,16950.47,16954.78,101.60076
2022-12-16 15:16:00,1671200160000,16954.09,16964.42,16953.94,16958.97,192.05533
2022-12-16 15:17:00,1671200220000,16958.42,16962.53,16951.71,16961.38,124.98174
2022-12-16 15:18:00,1671200280000,16961.61,16962.50,16890.46,16918.13,1416.60128
2022-12-16 15:19:00,1671200340000,16918.13,16922.20,16915.25,16920.13,29.63090